<% if logged_in? %>
<form action="/session" method="post">
  <input type="hidden" name="_method" value="delete">
<button>Log out</button>
</form>
<% end %>

<h1>Melbourne Weather Today</h1>
<h3><%= @condition %> with a min temp of <%= @min_temp %> (°C) and a max temp of <%= @max_temp %> (°C)</h3>

<% if logged_in? %>
  <h2><%= current_player.name %>, <%= current_player.team.name %>.</h2>
  <p>Personal score: <%= @player_points %></p>
  <h2>TEAM SCORES:</h2>
  <div class="scores">
    <img src='<%= @wdi_image %>' width="100">
    <p>WDI: <%= @wdi_points %></p>
    <img src='<%= @ds_image %>' width="100">
    <p>Data Science: <%= @ds_points %></p>
    <img src='<%= @ux_image %>' width="100">
    <p>UX: <%= @ux_points %></p>
  </div>
<% end %>

<% if @treasures_found.first %>
  <h1>Your team has found:</h1>
  <div class="found">
  <% @treasures_found.each do |treasure| %>
    <% treasure = Treasure.find(treasure.treasure_id) %>
    <%= treasure.name %>
      <img src="<%= treasure.image_url %>" width="200" alt="">
    <% treasure.comments.each do |comment| %>
      <p><%= comment.body %> -<%= comment.player.name %>, <%= comment.player.team.name %></p>
    <% end %>
  <% end %>
  </div>
<% end %>


<% if @treasures_not_found.first %>
  <h1>Yet to find:</h1>
  <div class="not_found">
  <% @treasures_not_found.each do |treasure| %>
    <% if logged_in? %>
      <form class="" action="/found" method="post">
        <input type="hidden" name="treasure_id" value="<%= treasure.id %>">
        <h3><%= treasure.name %></h3>
        <p><%= treasure.description %></p>
        <a href="#">
        <img src="<%= treasure.image_url %>" width="200" alt="">
        </a>
        <p>Points: <%= treasure.point_value %></p>
        <button type="submit">Found!</button>
      </form>
    <% end %>
  <% end %>
  </div>
<% end %>
